body {
  font-family:
    Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  height: 100dvh;
  overflow-y: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

#editor-canvas {
  width: 100%;
  height: 100%;
}
